.inv-container {
    margin: 6rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(96, 96, 96, 0.597);
    border-radius: 8px;
    color: #f7f7f7;
}
  
.inv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
}
  
.inv-header button {
    cursor: pointer;
    padding: 4px 8px;
    background-color: rgb(50, 205, 50);
    color: black;
    border-radius: 8px;
    box-shadow: 0 0.2rem 0.2rem rgba(104, 255, 124, 0.414);
    border-color: rgb(50, 205, 50);
    transition: all 0.3s ease-in-out;    

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
  
.inv-header button:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);  
}
  
.inv-search {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
  
.inv-search input {
    background-color: #f7f7f7;
    border: none;
    width: 100%;
    color: black;
}
  
.inv-search:focus {
    outline: none;
}
  
.inv-add-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
  
.inv-items-container {
    padding: 10px 30px;
    width: 100%;
    height: 410px;
}
  
.inv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    background-color: #393939;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
.inv-item:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(210, 19, 19, 0.2);
}
  
.inv-item img {
    width: 10rem;
    margin-bottom: 1rem;
}
  
.inv-item h3 {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
}
  
.inv-item p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
    word-wrap: break-word;
}
  
.inv-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 24px;
    
    padding: 20px 20px 20px 20px;
}